VITE_SUPABASE_URL="http://127.0.0.1:54321"
VITE_SUPABASE_ANON_KEY="<Supabase Anon Key>"

# Optional observability
# VITE_POSTHOG_PROJECT_KEY="<PostHog Project Key>"
# VITE_SENTRY_ENVIRONMENT="local"
# VITE_SENTRY_DSN="<Sentry DSN>"
